<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id='navigation' class='clearfix'>
      <a href="#" class='name'>Sarah Lindmar</a>
      <nav>
        <a href="#">Posts</a>
        <a href="projects/index">Projects</a>
        <a href="#">Skills</a>
      </nav>
    </header>
    <div class="wrapper clearfix">
      <% if flash[:alert] %>
        <div class="card">
          <%= flash[:alert] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="card">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer id="main_footer">
      <p class='copyright'>&copy; 2017 Sarah Linder </p>
      <a href="#"><i class='fa fa github'></a>
      <a href="#"><i class='fa fa linkedin'></a>
    </footer>
  </body>
</html>
